{% extends "base.html"%}

{% block header %}
<li>
    <form class="navbar-search pull-left" action="{% url 'google' %}" method="get" id="search-form">
        <input type="text" name="q" class="search-query" placeholder="search">
        <button type="submit" class="btn btn-info">Back-end search <i class="icon-thumbs-down"></i></button>
        <button class="btn btn-warning front-end-search">Front-end search <i class="icon-thumbs-up"></i></button>
    </form>
    <a class="btn-success homelink" href="{% url 'google' %}"><i class="icon-arrow-left"></i> Back</a>
</li>
{% endblock header %}

{% block content %}
<ul id="tiles">
    {% include "google_items.html" %}
</ul>
{% endblock content %}
