{% extends "base.html"%}

{% block container %}
<div class="index center">
	<p>Django web app that shows funny images from Tumblr and Instagram in a Pinterest-style using several search API:</p>
	<a class="btn btn-success btn-large" href="{% url 'google' %}">Google <i class="icon-search"></i></a>
	<a class="btn btn-warning btn-large" href="{% url 'instagram' %}">Instagram <i class="icon-camera"></i></a>
	<a class="btn btn-info btn-large" href="{% url 'tumblr' %}">Tumblr <i class="icon-picture"></i></a>
</div>
{% endblock container %}
